* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

.item {
    background-color: gold;
    border: 1px solid grey;
    min-height: 50px;
    padding: 20px;
    font-size: 20px;
}

.container {
    /* Cách phân bổ grid item - Cách 1 */

    display: grid;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    /* fr = fraction */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 300px 200px 100px;
    /* set height cho các auto-row: 50px là chiều cao nhỏ nhất, nếu content của 1 item dài hơn 50px thì height của row đó sẽ = height của item */
    /* grid-auto-rows: minmax(50px, auto); */
    
    /* Cách phân bổ grid item - Cách 3 Grid area */
    grid-template-areas:
    "header header header"
    "sidebar contentt contentt"
    "sidebar contentt contentt"
    "footer footer footer";

    column-gap: 10px;
    row-gap: 10px;
}

.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: sidebar;
}

.item-3 {
    display: grid;
    grid-area: contentt;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

/* Cách phân bổ grid item - Cách 2 Grid line */
.item-5 {
    /* grid-column-start: 2;
    grid-column-end: 4; */
    /* grid-column: 2 / 4; */

    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row: 2 / 4;; */
    /* grid-area: footer; */
}

.item-4 {
    /* grid-row: 2 / 5;; */
    grid-area: footer;
}

.article {
    border: 5px solid rgb(255, 0, 106);
}

/* Khi thiết bị mình sử dụng có width <= 900px thì nó sẽ áp dụng các style bên trong @media */
@media (max-width: 900px) {
    .item-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .item-3 {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-areas:
        "header header header"
        "contentt contentt contentt"
        "contentt contentt contentt"
        "sidebar sidebar sidebar"
        "footer footer footer"
    }

    /* hehe */
}